<!-- <link rel='stylesheet' type='text/css' href='styles/styles.css'/>
<link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">

<div ng-controller="listController">
  <h1>My List</h1> 

  <div class = 'container'>

    <input type='text' placeholder="Add">
    <span class="add" ng-click='addItem(item)'>
      <i class="fa fa-plus"></i>
    </span>

    <p class='listItem' ng-repeat='todo in listItems'>  
      {{todo.text}} 
      <i class="fa fa-minus"></i> 
    </p> 

  </div>
</div>
 -->

