<link rel='stylesheet' type='text/css' href='bower_components/materialize/bin/materialize.css'/>
<link rel="stylesheet" href="styles/signup.css">

<div class="wrapper">

  <div class="box">
    <h1>Do Stuff n' Things</h1>
    
    <form class="form">
      <input type="text" placeholder="Username" ng-model='email'>
      <input type="password" placeholder="Password" ng-model='pw'>
      <button type="submit" id="login-button" ng-click='login(email,pw)'>
        <a href='#/list'>Login</a>
      </button>
    </form>
  </div>
  
</div>