body {
  background-color: #B0E0E6;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  color: #0F5959;
}

h1 {
  margin-top: 3%;
  text-align: center;
  color: white;
}

.container{
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 2%;
  color: #FF1493;
}

.listItem {
  margin: auto;
  width: 90%;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  background: #17A697;
  color: white;
  padding: 1.5%;
}

i {
  color: white;
  margin: 3px;
}

.fa-minus, .fa-plus {
  float: right;
}

.fa-minus:hover {
  color: #53e3a6;
}

.logoutButton {
  padding: 10px;  
  color: white;
}

.logoutButton:hover {
  text-decoration: underline;
}

.container > p { 
  position: relative;
}




